<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />
<div class="container">
  <%= link_to "New Resume", new_resume_path, class: "btn btn-primary" %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Download Link</td>
        <td></td>
      </tr>
    </thead>


    <tbody>
        <% @resumes.each do |resume| %>

          <tr>
              <td><%= resume.name %></td>
              <td><%= link_to "Download Resume", resume.attachment_url %></td>

              <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
          </tr>

        <% end %>
    </tbody>
  </div>
</table>